.study-card {
  border: 1px solid var(--color-neutral-900);
  border-radius: var(--radius-16);

  margin-top: var(--spacing-300);

  background-color: var(--color-neutral-0);
  color: var(--color-neutral-900);

  box-shadow: 2px 3px 0 0 var(--color-neutral-900);

  display: flex;
  flex-direction: column;
}

.card-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--spacing-150) var(--spacing-200);
  border-bottom: 1px solid var(--color-neutral-900);
}

.card-controls__categories-hide-mastered {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-125);
}

.card-controls__hide--mastered {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);

  font-size: var(--font-size-16);
  font-weight: 500;
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-normal);

  cursor: pointer;
}

.card-controls__hide--mastered input[type="checkbox"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--color-neutral-900);
  border-radius: var(--radius-4);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.card-controls__hide--mastered input[type="checkbox"]:hover {
  box-shadow: 1px 1px var(--color-neutral-900);
}

.card-controls__hide--mastered input[type="checkbox"]:checked {
  background-color: var(--color-yellow-500);
  background-image: url("../../assets/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.6rem;
}

.card-controls__shuffle {
  border: 1px solid var(--color-neutral-900);
  border-radius: var(--radius-full);
  padding: var(--spacing-150) var(--spacing-200);

  background-color: var(--color-neutral-0);
  color: var(--color-neutral-900);

  font-size: var(--font-size-16);
  font-weight: 500;
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-normal);

  display: flex;
  align-items: center;
  gap: var(--spacing-100);
  cursor: pointer;
  transition: all ease-in 0.05s;
}

.card-controls__shuffle:hover {
  background-color: var(--color-neutral-100);
}

/* =========================
   Flash Card
========================= */
.flashcard {
  padding: var(--spacing-300) var(--spacing-200);
}

.flashcard__buttons {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}

.flashcard__button--know,
.flashcard__button--reset {
  border: 1px solid var(--color-neutral-900);
  border-radius: var(--radius-full);
  padding: var(--spacing-150) var(--spacing-200);
  box-shadow: 2px 2px 0 0 var(--color-neutral-900);

  background-color: var(--color-neutral-0);
  color: var(--color-neutral-900);

  font-size: var(--font-size-16);
  font-weight: 500;
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-normal);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
  cursor: pointer;
  transition: all ease-in 0.05s;
}

.flashcard__button--know:hover,
.flashcard__button--reset:hover {
  box-shadow: 4px 4px 0 0 var(--color-neutral-900);
}

.flashcard__button--know {
  background-color: var(--color-yellow-500);
}

.flashcard__button--know img,
.flashcard__button--reset img {
  width: var(--spacing-200);
  height: var(--spacing-200);
}

.flashcard__button--know img {
  border: 1px solid var(--color-neutral-900);
  border-radius: var(--radius-full);
  padding: var(--spacing-25);
}

/* =========================
   Pagination
========================= */

.card-controls__pagination {
  border-top: 1px solid var(--color-neutral-900);
  padding: var(--spacing-200);
  text-align: center;
}

.card-controls__pagination--buttons-and-card-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-controls__pagination--previous span,
.card-controls__pagination--next span {
  display: none;
}

.card-controls__pagination--previous,
.card-controls__pagination--next {
  width: var(--spacing-500);
  height: var(--spacing-500);
  border: 1px solid var(--color-neutral-900);
  border-radius: var(--radius-full);

  background-color: var(--color-neutral-0);
  color: var(--color-neutral-900);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all ease-in 0.05s;
}

.card-controls__pagination--previous:hover,
.card-controls__pagination--next:hover {
  background-color: var(--color-neutral-100);
}

.card-controls__pagination--card-number {
  font-size: var(--font-size-14);
  font-weight: 500;
  line-height: var(--line-height-140);
  letter-spacing: var(--letter-spacing-normal);
  color: var(--color-neutral-600);
}
